 
 
h2{
	padding: .25em 0 25em 25px;
}
h2.mas{
	background-image: url( )no-repeat left center;

}
h2.mas{
	background-image: url( )no-repeat left center;
}
div.cerrado{
	display: none;
}
div.abierto{
	display: block;
}