*{
    font-family: "Calibri";
    margin:0;
    padding:0;
}
header img{
    border-radius: .2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    width: 100%;
}
nav{
    margin:1em 1em;
    text-align:center;
}
nav a{
    border: 1px solid #000000;
    border-radius: .2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    color:black;
    margin:0 .4em;
    padding: .1em 1em;
    transition:1s; 
}
nav a:hover{
    background: #17abe0;
    color:#EDD2F3;
}  
a{
    color:#000000;
    text-decoration: none;
}
h2{
    text-align: center;
}
main{
    
    display:inline-block;
    margin-right: 1em;
    vertical-align: top;
    width:80%;
}

aside{
    
    display:inline-block;
    vertical-align: top;
    width: 18%;
}
footer{
    display:inline-block;
    align-items: center;
    margin-right: 1em;
    vertical-align: top;
    width:100%;
}

#ejemplo2{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 3s, height 4s; 
}
#ejemplo2:hover{
    height: 10em;
    width: 10em;
}
#ejemplo3{
    background-color: #EDD2F3;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: background-color 1s linear;
}
#ejemplo3:hover{
 background-color: #516BEB;
}

#ejemplo4{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s, height 2s, transform 2s;
}
#ejemplo4 img{
    width: 12em;
}
#ejemplo4:hover{
    height: 8em;
    width: 8em;
    transform: rotate(200deg);
}

#ejemplo5{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: 3s;
}
#ejemplo5 img{
    width: 12em;
}
#ejemplo5:hover{
    transform: translateX(300px);
}

#ejemplo6{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: 3s;
}
#ejemplo6 img{
    width: 20em;
}
#ejemplo6:hover{
    transform: translateY(300px);
}

#ejemplo7{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    color:#EDD2F3;
    font-size: 12px;
    height: 5em;
    margin: 1em auto;
    padding: 2em;
    text-align: center;
    transition:3s;
    width: 5em;
}
#ejemplo7:hover{
    box-shadow: 10px 10px 14px 2px rgba(61, 134, 218, 0.47);
    border:3em;
    border-style: solid;
    background-color: #EDD2F3;
    border-color: #516BEB;
    border-radius: 20px;
    color:#516BEB;
    font-size: 28px;
    transform: rotate(200deg);
}

#delay{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-delay: 1s;
}
#delay:hover{
    width: 24em;
}

#linear{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-timing-function: linear;
}
#linear:hover{
    width: 24em;
}


#ease{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-timing-function: ease;  
}
#ease:hover{
    width: 24em;
}

#ease-in{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-timing-function: ease-in; 
}
#ease-in:hover{
    width: 24em;
}

#ease-out{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-timing-function: ease-out; 
}
#ease-out:hover{
    width: 24em;
}

#ease-in-out{
    background-color: #516BEB;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    height: 8em;
    margin: 1em auto;
    width: 8em;
    transition: width 2s; 
    transition-timing-function: ease-in-out; 
}
#ease-in-out:hover{
    width: 24em;
}

#contenedor{
    margin: 1em auto;
    width:80%;
     
}
#contenedorAside{
    background-color: #FFFCDC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 3em;
    padding-bottom: 2em;
}
#contenedorAside h2{
    margin-bottom: 2em;

}
#contenedorAside img{

    height: 20px; 
    margin-left: 10px;
    margin-right: 10px;

}
#contenedorAside p{
    font-size: large;
   
}
#contenedorFooter{
    background-color: #FFFCDC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin: 3em 3em;
    padding-bottom: 1em;
}
#contenedorFooter p{
    margin-left: 3em ;
    font-size: large;
    text-align: justify;  
}
#contenedorFooter h3{
    margin-left: 3em ;
    text-align: justify;
}
#contenedorMain{
    background-color: #FFFCDC;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin: 3em 3em;
    padding-bottom: 1em;
}

#contenedorMain a{
    font-style: oblique;
}
#contenedorMain img{
    border-radius: .2em;
    display:block;
    margin:auto;
    padding-bottom: 2em; 
    width:30em;   
}
#contenedorMain p{
    margin: 1em auto;
    font-size: large;
    text-align: justify;
    text-indent: 30px;
    padding-right: 2em;
    padding-left: 2em;
}
#contenedorMain ul{
    margin: 1em auto;
    font-size: large;
    text-align: justify;
    text-indent: 30px;
    padding-right: 2em;
    padding-left: 2em;
}
#imagenCss img{
    text-align: center;
    text-decoration:#516BEB;
    text-shadow:rgba(0, 0, 0, .5) ;
    width:15em;
}
 
#imgHome img{
    border-radius: .2em;
    
}
#listaAside{
    margin-left:2em;
    margin-top: 3em;
    padding-bottom: 2em;  
}
#textoFooter{
    display: inline-block;
    width: 50%;
}
#imagenFooter{
    
    display: inline-block;
    width:45%;
}
#imagenFooter img{
    width:100px;
    margin-left: 25em;
}
 

