 
#contenedor{
	background-color:red;
	height: 25px; 
	width: 400px;
	display:flex;
	justify-content:center;
	color:black;
	margin:5px;
	padding: 5px;
 }
#cajaImagen{
	background-color: rgb(146, 146, 233);
	height:400px;
	width: 400px;
	display:flex;
	justify-content:right;
	color:black;
	margin:5px;
	padding: 5px;
}
#foto{
	height: 400px;
	width:400px;
}


 

 