 
 
#contenedor1{
	background-color: green;
	height: 200px;
	width: 800px;
}
#contenedor2{
	background-color: rgb(0, 19, 128);
	height: 200px;
	width: 800px;
}
#contenedor3{
	background-color: rgb(128, 0, 0);
	height: 200px;
	width: 800px;
} 

 