#ejercicio{
    border: 1px solid black;
    background: green;
    font-size: small;
    width:400px;
    height: 200px;
}
#ejercicio2{
    border: 1px solid black;
    background: green;
    font-size: small;
    width:400px;
    height: 200px;
}
#ejercicio3{
    border: 1px solid black;
    background: green;
    font-size: small;
    width:400px;
    height: 200px;
}
 